<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    var socket = io();
    socket.on('update from express', (message) => {
        updateSymbolValue(message.symbol, message.value);
    })
</script>

<form method="POST" action="/addSymbol">
    <input name="symbol" placeholder="new symbol?">
    <input type="submit" value="add">
</form>
<form method="POST" action="/removeSymbol">
    <input name="symbol" placeholder="remove symbol?">
    <input type="submit" value="remove">
</form>

<table>
    <tr>
        <td>Symbol</td>
        <td>Value</td>
    </tr>
    <% userSymbols.forEach((userSymbol) => { %>
        <tr>
            <td><%=userSymbol.symbol%></td>
            <td id="<%= userSymbol.symbol %>-value">
            <% const symbolValueObj = symbolValues.find((symbolValue) => symbolValue && symbolValue.symbol === userSymbol.symbol); %>
            <%= symbolValueObj ? symbolValueObj.value : 'N/A' %>
            </td>
        </tr>
    <% }) %>
</table>

<script>
    const updateSymbolValue = (symbol, value) => {
        document.getElementById(`${symbol}-value`).innerHTML = value; 
    } 
</script>
<a href="/logout">logout</a>
